
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
       
            <%= link_to "Wordtoworldradio", root_path, :class=>"brand"%>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <%unless owner_signed_in? %>
                <li><%= link_to "Sign Up", new_owner_registration_path  %></li>
                <li><%= link_to "Sign In", new_owner_session_path  %></li>
              <%else%>
                <li><%= link_to current_owner.email ,""%></li>
                <li><%= link_to "Sign Out", destroy_owner_session_path  %></li>
              <%end%>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>