<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wordtoworldradio" %></title>
    <%= csrf_meta_tags %>
    <%= render 'head'%>
  </head>
  <body>
    <header>
      <%= render 'header'%>
    </header>

    <div class="container-fluid">
      <%= render 'container'%>
    </div> <!-- /container -->

    <footer>
      <%= render 'footer'%>
    </footer>
  </body>
</html>
